# Auto detect text files and perform LF normalization
* text=auto
# Custom for Visual Studio
*.cs     diff=csharp
# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
src/Applications/Install/ConvAssistApp/* filter=lfs diff=lfs merge=lfs -text
src/Applications/Install/en/WordPredictors/ConvAssist/aac_gpt2/* filter=lfs diff=lfs merge=lfs -text
src/Applications/Install/en/WordPredictors/ConvAssist/DialoGPT-medium/* filter=lfs diff=lfs merge=lfs -text
src/Applications/Install/en/WordPredictors/ConvAssist/multi-qa-MiniLM-L6-cos-v1/* filter=lfs diff=lfs merge=lfs -text
src/Assets/Videos/* filter=lfs diff=lfs merge=lfs -text
