<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="acat-local" value="src/NuGetPackages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="acat-local">
      <package pattern="AcatCameraNative" />
      <package pattern="UnicornDotNet" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="Accord" />
      <package pattern="Accord.Math" />
      <package pattern="Accord.Statistics" />
      <package pattern="brainflow" />
      <package pattern="CommunityToolkit.Mvvm" />
      <package pattern="lioncs.ColorSlider" />
      <package pattern="MahApps.Metro" />
      <package pattern="SharpDX" />
      <package pattern="SharpDX.Direct2D1" />
      <package pattern="SharpDX.Direct3D11" />
      <package pattern="SharpDX.DXGI" />
      <package pattern="System.Resources.Extensions" />
      <package pattern="System.Text.Json" />
    </packageSource>
  </packageSourceMapping>
</configuration>
