<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>

    <add key="SendKeys" value="SendInput"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="Presage_netNamedPipeBinding" />
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/PresageService" binding="netNamedPipeBinding"
          bindingConfiguration="Presage_netNamedPipeBinding" contract="PresageServiceReference.IPresageService"
          name="Presage_netNamedPipeBinding">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
