<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <appSettings>

    <add key="SendKeys" value="SendInput"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>

    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
        <!-- Uncomment each value to disable the fixes one by one. -->
        <!--
    <add key="Form.DisableSinglePassScalingOfDpiForms" value="true"/>
    <add key="ToolStrip.DisableHighDpiImprovements" value="true"/>
    <add key="CheckedListBox.DisableHighDpiImprovements" value="true"/>
    <add key="MonthCalendar.DisableHighDpiImprovements" value="true"/>
    <add key="AnchorLayout.DisableHighDpiImprovements" value="true"/>
    <add key="DataGridView.DisableHighDpiImprovements" value="true"/>
    -->
    </System.Windows.Forms.ApplicationConfigurationSection>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="SharedLibs"/>
        </assemblyBinding>
    </runtime>
</configuration>
