<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>

    <add key="SendKeys" value="SendInput"/>

  </appSettings>
  <system.serviceModel>
        <bindings>
              <netNamedPipeBinding>
                    <binding name="NetNamedPipeBinding_Presage" />
              </netNamedPipeBinding>
        </bindings>
        <client>
              <endpoint address="net.pipe://localhost/PresageService/v1/presage"
                    binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_Presage"
                    contract="PresageService.Presage" name="NetNamedPipeBinding_Presage">
                    <identity>
                          <userPrincipalName value="sprasad1@amr.corp.intel.com" />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>
