<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.serviceModel>
		<bindings>
			<netNamedPipeBinding>
				<binding name="NetNamedPipeBinding_Presage"/>
			</netNamedPipeBinding>
		</bindings>
		<client>
			<endpoint address="net.pipe://localhost/PresageService/v1/presage" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_Presage" contract="PresageService.Presage" name="NetNamedPipeBinding_Presage">
			</endpoint>
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
